// Input

input.form-control {
	border-radius: 3px;
	background-color: $input !important;
	outline: 0px !important;
	box-shadow: none !important;
	border: 0px !important;
	font-size: 13px;
	height: 30px!important;

	&.input-white {
		background-color: $white !important;
		height: 30px!important;
	}

	&.input-gray {
		background-color: $gray !important;
	}
	&-sm{
		border-radius: 3px;
		background-color: $input !important;
		outline: 0px !important;
		box-shadow: none !important;
		border: 0px !important;
		font-size: 13px;
	}
}

/**
* Autocomplete
*/

#suggestion {
	width: 100%;
	height: auto;
	display: block;
	overflow: auto;
	max-height: 100px;
	background: cornflowerblue;
	z-index: 10;
	box-shadow: 10px 5px 5px #605f5f;
	transition: all .6s;
	margin-bottom: 25px;
	&:empty{
		margin-bottom: 0;
	}
	 div {
		color: white;
		padding: 5px;
		cursor: pointer;
	}
}

.m4 {
	margin: 4px;
}

.w50px {
	width: 50px;
}

.height-225-scroll {
	overflow: auto;
	height: 225px;
}