
@media only screen and(min-width: 976px) and(max-width: 1600px){
   
    #products #row1 .check{
        /*background-color: aqua;*/
        /*display: flex;*/
        margin-top: 20px;
    }

}

@media only screen and(min-width: 768px) and(max-width: 940px){
   
    #products .row .check .check1{
        
         display: inline-flex;
       /* flex-direction: row;
        flex-wrap: wrap;
        min-height: 100%;*/
    }


}

@media all and (max-width: 400px) {
    #products .row .check .check1{
        
        /*display: inline-block;*/
    }
}

@media only screen and(min-width: 380px) and(max-width: 678px){

    #products .row .check .check1{
        display: inline-block;
    }


}


