// Select

select.form-control {
	border-radius: 3px;
	background-color: $input !important;
	outline: 0px !important;
	box-shadow: none !important;
	border: 0px !important;
	font-size: 13px;
	height: 30px;
	&.white {
		background-color: $white !important;
	}
	&.input-gray{
		background-color: $gray !important;
	}
	&.input-white {
		background-color: $white !important;
	}
	&-sm{
		border-radius: 3px;
		background-color: $input !important;
		outline: 0px !important;
		box-shadow: none !important;
		border: 0px !important;
		font-size: 13px;
		&.white {
			background-color: $white !important;
		}
	}
}