// Table

.table {
	margin-bottom: 0 !important;
}

.table-component {
	background-color: $white;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;

	thead {
		border-bottom: 1px solid $gray;

		tr {
			white-space: nowrap;
		}

		th {
			border: 0px !important;
			width: 28%!important;
		}
	}

	tbody {
		tr {
			border-bottom: 1px solid $gray;
		}
		
		td {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 200px;

			button {
				margin-right: 5px;
			}
		}
	}
}

.red-row {
	color: red;
}

.no-table-data {
	font-family: 'Roboto Bold Italic';
	font-size: 18px;
	background-color: $white;
	border-radius: 2px;
	text-align: center;
	padding: 10px;
	color: $blue;
}

.table-container {
	//@include shadow();
}