// Create edit user

.container-create-edit-user {
    .container-cedula {
        display: flex;
    }
    .btn-actions-orders {
		margin-left: 5px;
		margin-right: 5px;
	}
	.container-btn-actions {
		display: flex;
		flex-direction: 'row';
		justify-content: center;
	}
}