// Home

#home {
	.form-group {
		margin-bottom: 10px !important;
		&.m-0{
			margin-bottom: 0px ;
		}
	}

	.minh {
		height: 80vh;
	}
}

.minh {
	height: 70vh;
}

.container-view-user {
	img {
		margin-bottom: 20px;
		margin-top: 10px;
	}

	li {
		text-align: left;
	}
}